/********************************************************************
 * MODAL KEYFRAMES
 */
@keyframes ModalFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes ModalFadeOut {
    to { opacity: 0; }
}

@keyframes ModalTranslateIn {
    0% { transform: translateY(calc(-45px + calc(var(--level, 0) * 15px))); }
    100% { transform: translateY(calc(-45px + calc(var(--next-level, 1) * 15px))); }
}

@keyframes ModalTranslateOut {
    to { transform: translateY(calc(-45px + calc(var(--level, 0) * 15px))); }
}

/********************************************************************
 * GENERAL KEYFRAMES
 */
@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}

	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}

	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}

	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}

	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}

	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}

	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}

	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}

	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}

	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}

	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.shaking {
	animation: shake 1s infinite;
}
