
:root {
    --primary: #669595;
    --primary-hover: #5d8989;
    --primary-active: #76a2a2;
    --primary-disabled: rgba(102, 149, 149, .65);
    // --primary-light: rgba(102, 149, 149, .25);
    --primary-light: #a4c1c1;
    --primary-dark: #344c4c;

    --secondary: #6c757d;
    --secondary-hover: #5a6268;
    --secondary-active: #545b62;
    --secondary-disabled: rgba(108, 117, 125, .65);
    --secondary-light: #bbc0c4;
    --secondary-dark: #3b4044;

    --success: #28a745;
    --success-hover: #218838;
    --success-active: #1e7e34;
    --success-disabled: rgba(40, 167, 69, .65);
    --success-light: #98e6ab;
    --success-dark: #19672b;

    --danger: #dc3545;
    --danger-hover: #c82333;
    --danger-active: #bd2130;
    --danger-disabled: rgba(220, 53, 69, .65);
    --danger-light: #e87d88;
    --danger-dark: #6c131c;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html, 
body { 
    height: 100%; 
}

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

@keyframes ModalFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes ModalFadeOut {
    to { opacity: 0; }
}

@keyframes ModalTranslateIn {
    0% { transform: translateY(calc(-45px + calc(var(--level, 0) * 15px))); }
    100% { transform: translateY(calc(-45px + calc(var(--next-level, 1) * 15px))); }
}

@keyframes ModalTranslateOut {
    to { transform: translateY(calc(-45px + calc(var(--level, 0) * 15px))); }
}
